# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.ty/
.mypy_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# Editors
.idea/
.vscode/
.DS_Store

# uv
uv.lock
